<div class="flex items-start mxn2 flex-wrap mb1">
  <div class="h5 bold olive caps px2">Start: </div>
  <div class="h5 bold black caps px2">{{dateFormat "2/1/2006 03:04:05" .Params.start_date}}</div>
  <div class="h5 bold olive caps px2">End: </div>
  <div class="h5 bold black caps px2">{{dateFormat "2/1/2006 03:04:05" .Params.end_date}}</div>
</div>
<div class="flex items-start mxn2 flex-wrap">
  <div class="h5 bold olive caps px2">Venue: </div>
  <div class="h5 bold black caps px2">{{.Params.venue}}</div>
</div>
