<footer role="contentinfo">
  <div class="px2 md-px4 bg-aqua py2">
    <div class="flex item-start mxn2 flex-wrap pt1 justify-center">
      {{ range .Site.Menus.footer }}
      <div class="px2">
        <a class="block text-decoration-none navy bold caps h6 pb1" href="{{.URL}}" style="letter-spacing:0;">{{.Name}}</a>
      </div>
      {{end}}
    </div>
  </div>
  <div class="flex items-start bg-navy px2 md-px4 py3 flex-wrap">
    <div class="col-12 sm-col-8">
      <a class="text-decoration-none white" href="{{ .Site.BaseURL }}" >
        &copy; {{ now.Format "2006" }} {{ .Site.Title }}
      </a>
      <div class="silver h6">
        Powered by <a class="text-decoration-none orange h6" target="_blank" href="http://slicedmango.com" >
        Sliced Mango
        </a>
      </div>
    </div>
    {{ partial "social-follow.html" . }}
  </div>
</footer>
<script>
 var toggle_main_menu = function() {
   document.getElementsByClassName("menu-overlay")[0].classList.toggle("hidden")
 }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  
 $.ajax({
  type: "POST",
  url:'http://www.mckvie.org/mv/readWebEvent.php',
  dataType: 'json',
  success: function(data)
  {
    console.log(data.length);
    var i=0;
    $.each(data, function(key, val) {
    i++;      
var list ='<div class="flex items-center py2 border-bottom border-silver">' +
          '<div class="mr1 bg-green rounded white px1 center flex items-center">' +
            '<div class="h6 bold" style="padding:0.15em;"> '+val.s_date+'</div>' + ' <span class="mr1 ml1">to</span> ' +
            '<div class="h6 bold" style="padding:0.15em;">'+val.e_date+'</div>'+
          '</div>'+
          '<div class="block text-decoration-none black flex-auto">'+val.event_name+'</div>';
          ;  
        if(val.holiday == "Y"){
          list = list + '<div class="h6 bg-orange white rounded bold" style="padding:0.15em 0.5em;">Holiday</div>'+
        '</div>';
        }else{
          list = list + '<div class="h6  white rounded bold" style="padding:0.15em 0.5em;"></div>'+
        '</div>';
        }

      $("#event").append(list);
      if(i<=10){
        var sorting_list = '<div class="flex items-center py2 border-bottom border-silver">' +
          '<div class="mr1 bg-green rounded white px1 center flex items-center">' +
            '<div class="h6 bold" style="padding:0.15em;"> '+val.s_date+'</div>' +
          '</div>'+
          '<div class="block text-decoration-none black flex-auto">'+val.event_name+'</div>';
          ;  
        if(val.holiday == "Y"){
          sorting_list = sorting_list + '<div class="h6 bg-orange white rounded bold" style="padding:0.15em 0.5em;">H</div>'+
        '</div>';
        }else{
          sorting_list = sorting_list + '<div class="h6  white rounded bold" style="padding:0.15em 0.5em;"></div>'+
        '</div>';
        }
      $("#sorting_event").append(sorting_list);
      }

    });
  }
});

  
  
</script>
