<footer role="contentinfo">
  <div class="px2 md-px4 bg-aqua py2">
    <div class="flex item-start mxn2 flex-wrap pt1 justify-center">
      {{ range .Site.Menus.footer }}
      <div class="px2">
        <a class="block text-decoration-none navy bold caps h6 pb1" href="{{.URL}}" style="letter-spacing:0;">{{.Name}}</a>
      </div>
      {{end}}
    </div>
  {{ partial "social-follow.html" . }}
  </div>
  <div class="flex items-start bg-navy px2 md-px4 py3 flex-wrap">
    <div class="flex-auto">
      <a class="text-decoration-none white" href="{{ .Site.BaseURL }}" >
        &copy; {{ now.Format "2006" }} {{ .Site.Title }}
      </a>
    </div>
    <div class="silver h6">
      Powered by <a class="text-decoration-none orange h6" target="_blank" href="http://slicedmango.com" >
      Sliced Mango
      </a>
    </div>
  </div>
</footer>
<script>
 var toggle_main_menu = function() {
   document.getElementsByClassName("menu-overlay")[0].classList.toggle("hidden")
 }
</script>
