<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
<div class="flex items-center justify-center col-12">  
{{ $icon_size := "32px" }}
{{ with .Site.Params.facebook }}
  <a href="{{ . }}" class="facebook white" title="Facebook link">
    {{ partial "svg/facebook.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.twitter }}
  <a href="{{ . }}" class="twitter white" title="Twitter link">
    {{ partial "svg/twitter.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.instagram }}
  <a href="{{ . }}" class="instagra white" title="Instagram link">
    {{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.youtube }}
  <a href="{{ . }}" class="youtube white" title="Youtube link">
    {{ partial "svg/youtube.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.linkedin }}
  <a href="{{ . }}" class="linkedin white" title="LinkedIn link">
    {{ partial "svg/linkedin.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.github }}
  <a href="{{ . }}" class="github white" title="Github link">
    {{ partial "svg/github.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
</div>
