---
upload_path: "/static/uploads/:year:/:month:/:day:"
frontmatter_file_url_template: "/uploads/:year:/:month:/:day:"
body_file_url_template: "/uploads/:year:/:month:/:day:"
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
  notice:
    default_front_matter_template: notice
  news:
    default_front_matter_template: news
  group:
    default_front_matter_template: group
  gallery:
    default_front_matter_template: gallery
  events:
    default_front_matter_template: events
  contact:
    default_front_matter_template: contact
version: 0.31.1
