{{ define "main" }}
<div class="siema">
  {{ range .Site.Data.slider.slides }}
  <div class="twentyone-nine"><div class="content" style="background-image: url('{{.}}')"></div></div>
  {{ end }}
</div>
<div class="flex items-center">
  <div class="bg-red px2 white caps bold h6 py2">Highlights</div>
  <div class="bg-aqua px2 py2 flex-auto h6 marquee">
    {{ with .Site.GetPage "section" "news_ticker" }}
    {{range .Params.news}}
    <a href='{{ (trim .link "/") | absURL }}' class="h6 bold black mr4 text-decoration-none caps">{{.item}}</a>
    {{end}}
    {{ end }}
  </div>
</div>
<div class="bg-white px2 md-px4 py4">
  <div class="flex items-start flex-wrap mxn2">
    <div class="px2 col-12 md-col-6 mb2">
      <h3 class="mt0">About</h3>
      <div class="justify">{{ .Site.Data.about.about_text }}</div>
    </div>
    <div class="px2 col-12 md-col-6">
      <video src="{{.Site.Data.about.about_video}}" controls="">
      </video>
    </div>
  </div>
</div>
<div class="px2 md-px4 py4">
  <div class="flex items-start items-stretch flex-wrap mxn2 justify-center">
    {{ range .Site.Data.links.links }}
    <div class="col-12 sm-col-6 md-col-3 mb2 px2 center">
      <div class="rounded p2 bg-{{.background}} {{.color}} flex flex-column" style="height: 100%">
        <h3 class= "{{.color}}">{{.name}}</h3>
        <div class="bg-lighten-4 col-2 mx-auto mb2" style="height:5px;"></div>
        <p class="{{.color}} flex-auto">{{.description}}</p>
        <div class="mb2">
          <a class="special-button h5 white text-decoration-none" href="{{(trim .link "/") | absURL }}">Read More</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
<div class="px2 md-px4 py4 bg-olive">
  <div class="flex items-start items-stretch flex-wrap justify-center mxn2">
    {{range .Site.Data.messages.message}}
    <div class="col-12 sm-col-6 md-col-3 mb2 px2 center">
      <div class="rounded bg-white flex flex-column overflow-hidden" style="height: 100%;">
        <a href="{{(trim .link "/") | absURL }}" class=" block sixteen-nine"><div class="content" style="background-image: url('{{(trim .image "/") | absURL }}')"></div></a>
        <div class="h4 olive pt2 px2 bold">{{.name}}</div>
        <div class="bg-red col-2 mx-auto mb2 mt1" style="height:5px;"></div>
        <div class="px2 pb2 h5 black flex-auto">{{.text}}</div>
        <div class="mb3">
          <a class="message-link" href="{{(trim .link "/") | absURL }}">Read More</a>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>
<div class="px2 md-px4">
  <div class="flex items-start items-stretch flex-wrap mxn2 py4">
    <div class="px2 col-12 md-col-4 mb3">
      <div class="flex flex-column bg-white rounded p2" style="height:100%">
        <h3 class="p1 red border-bottom border-navy bold caps mt0" style="border-width:5px;">News</h3>
        <div class="flex-auto mb3">
          {{ $section := (where .Site.RegularPages "Section" "news") }}
          {{ range first 5 $section }}
          <div>
            <a href="{{.URL}}" class="text-decoration-none block black h4 py2 border-bottom border-silver">{{.Title}}</a>
          </div>
          {{ end }}
        </div>
        <div class="right-align mb1">
          <a href="{{ with .Site.GetPage "section" "news" }}{{ .URL}}{{ end }}" class="bg-red p1 h6 rounded bold caps white h5 text-decoration-none">All News</a>
        </div>
      </div>
    </div>

    
    <div class="px2 col-12 md-col-4 mb3">
      <div class="flex flex-column bg-white rounded p2" style="height:100%">
        <h3 class="p1 red border-bottom border-navy bold caps mt0" style="border-width:5px;">Notice</h3>
        <div class="flex-auto mb3">
          {{ $section := (where .Site.RegularPages "Section" "notice") }}
          {{ range first 5 $section }}
          <div>
            <a href="{{.URL}}" class="text-decoration-none block black h4 py2 border-bottom border-silver">{{.Title}}</a>
          </div>
          {{ end }}
        </div>
        <div class="right-align mb1">
          <a href="{{ with .Site.GetPage "section" "notice" }}{{ .URL}}{{ end }}" class="bg-red p1 h6 rounded bold caps white h5 text-decoration-none">All Notices</a>
        </div>
      </div>
    </div>
    <div class="px2 col-12 md-col-4 mb3">
      <div class="flex flex-column bg-white rounded p2" style="height:100%">
        <h3 class="p1 red border-bottom border-navy bold caps mt0" style="border-width:5px;">Events</h3>
        <div class="flex-auto mb3">
          <p id="sorting_event"></p>
          
        </div>
        <div class="right-align mb1">
          <a href="{{ with .Site.GetPage "section" "events" }}{{ .URL}}{{ end }}" class="bg-red p1 h6 rounded bold caps white h5 text-decoration-none">All Events</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src='{{ "js/siema.min.js" | absURL}}' data-turbolinks-eval="true"></script>
<!-- <script data-trubolinks-eval="true">
 var mySiema = new Siema({
   duration: 250,
   loop: true,
 });
 listen for keydown event
 setInterval(() => mySiema.next(), 4000)
</script> -->
<script>
  if(siema_interval){
    clearInterval(siema_interval)
  }
  var mySiema=new Siema({duration:250,loop:true,});
  var siema_interval = setInterval(()=>mySiema.next(),5000)
</script>
{{ end }}
